.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Commits/User
      .chart-stage
        #split-rows-grid-1-1
          .commits
            - contributors.each do |login, commits|
              .contributor
                = link_to(login, "https://github.com/#{login}", target: '_blank')
                = ": #{commits.size}"

            .space-8

            - sum = contributors.inject(0){|sum, (login, commits)| sum + commits.size }
            .sum= "sum: #{sum}"
            .avg= "avg: #{sum / contributors.size}"

      .chart-notes
        Commits count commited by the user in specified period.
  .col-sm-9
    .chart-wrapper
      .chart-title
        Commits/User/Day
      .chart-stage
        #split-rows-grid-1-2
      .chart-notes
        Commits/User/Day

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Additions/User
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Additions/User/Day
      .chart-stage
        #split-rows-grid-2-2
      .chart-notes
        Additions/User/Day

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Deletions/User
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Deletions/User/Day
      .chart-stage
        #split-rows-grid-3-2
      .chart-notes
        Deletions/User/Day

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart

:javascript
  $(function () {
    var highcharts_params = {
      title: {
        text: null
      },
      subtitle: {
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: null
        }
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      plotOptions: {
      },
      series: null
    };

    $('#split-rows-grid-1-2').highcharts(
      $.extend(true, {}, highcharts_params, {series: $('.chart-commits-data').data('series')}));

    $('#split-rows-grid-2-2').highcharts(
      $.extend(true, {}, highcharts_params, {series: $('.chart-additions-data').data('series')}));

    $('#split-rows-grid-3-2').highcharts(
      $.extend(true, {}, highcharts_params, {series: $('.chart-deletions-data').data('series')}));
  });
