.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        #split-rows-grid-1-1
          .start_day= "start day: #{commits_stats[:start_day]}"
          .end_day= "end day: #{commits_stats[:end_day]}"
          .commits
            .num= "commits: #{contribution.try(:commits).present? ? contribution.commits.size : 0}"
          .issues
            = "issues: #{contribution.try(:issues).present? ? contribution.issues.size : 0}"

      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Commits
      .chart-stage
        #split-rows-grid-1-2
      .chart-notes
        Notes about this chart

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Additions
      .chart-stage
        #split-rows-grid-2-2
      .chart-notes
        Notes about this chart

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Deletions
      .chart-stage
        #split-rows-grid-3-2
      .chart-notes
        Notes about this chart

.row
  .col-sm-3
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart
  .col-sm-9
    .chart-wrapper
      .chart-title
        Cell Title
      .chart-stage
        %img{"data-src" => "holder.js/100%x120/white"}/
      .chart-notes
        Notes about this chart

:javascript
  $(function () {
    var highcharts_params = {
      title: {
        text: null
      },
      subtitle: {
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: null
        }
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      plotOptions: {
      },
      series: null
    };

    $('#split-rows-grid-1-2').highcharts(
      $.extend(true, {}, highcharts_params, {series: $('.chart-commits-data').data('series')}));

    $('#split-rows-grid-2-2').highcharts(
      $.extend(true, {}, highcharts_params, {series: $('.chart-additions-data').data('series')}));

    $('#split-rows-grid-3-2').highcharts(
      $.extend(true, {}, highcharts_params, {series: $('.chart-deletions-data').data('series')}));
  });
