#main-container.main-container
  :javascript
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  = render partial: 'layouts/ace/sidebar'
  .main-content
    .main-content-inner
      = render partial: 'layouts/ace/breadcrumbs'
      .page-content
        = render partial: 'layouts/ace/settings_box'
        = yield
  = render partial: 'layouts/ace/footer'
  %a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse{:href => "#"}
    %i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110