.page-header
  %h1
    = "#{@contribution.login}'s contribution to #{@contribution.full_name}"
    %small
      %i.ace-icon.fa.fa-angle-double-right
      = "#{@date_range[:start_day].to_date.to_s(:slash)} - #{@date_range[:end_day].to_date.to_s(:slash)}"

%script{:src => "/assets/contributions.js"}
%link{:href => "/assets/css/keen-dashboards.css", :rel => "stylesheet"}/
%script{:src => "/assets/js/highcharts.js"}
%script{:src => "/assets/js/modules/exporting.js"}

#search-result-container
  = image_tag 'img/loading.gif', size: '16x16'
  &nbsp;Initializing.

:javascript
  $(function(){
    var options = {
      url: '#{contributions_search_result_path(login: @contribution.login, full_name: @contribution.full_name)}',
      container: $('#search-result-container')
    }
    new FetchResultTimer(options).start();
  });