#signup-box.signup-box.widget-box.no-border
  .widget-body
    .widget-main
      %h4.header.green.lighter.bigger
        %i.ace-icon.fa.fa-users.blue
        New User Registration
      .space-6
      %p Enter your details to begin:
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        %fieldset
          %label{ class: "block clearfix #{'has-error' if resource.errors[:email].present?}" }
            %span.block.input-icon.input-icon-right
              = f.text_field :email, class: 'form-control', placeholder: 'Email'
              %i.ace-icon.fa.fa-envelope
            - if resource.errors[:email].present?
              %span.help-block= resource.errors[:email].join(', ')

          -#%label.block.clearfix
          -#  %span.block.input-icon.input-icon-right
          -#    %input.form-control{:placeholder => "Username", :type => "text"}/
          -#    %i.ace-icon.fa.fa-user

          %label{ class: "block clearfix #{'has-error' if resource.errors[:password].present?}" }
            %span.block.input-icon.input-icon-right
              = f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off'
              %i.ace-icon.fa.fa-lock
            - if resource.errors[:password].present?
              %span.help-block= resource.errors[:password].join(', ')

          %label{ class: "block clearfix #{'has-error' if resource.errors[:password_confirmation].present?}" }
            %span.block.input-icon.input-icon-right
              = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Repeat password', autocomplete: 'off'
              %i.ace-icon.fa.fa-retweet
            - if resource.errors[:password_confirmation].present?
              %span.help-block= resource.errors[:password_confirmation].join(', ')

          %label.block
            %input.ace{:type => "checkbox"}/
            %span.lbl
              I accept the
              %a{:href => "#"} User Agreement
          .space-24
          .clearfix
            %button.width-30.pull-left.btn.btn-sm{:type => "reset"}
              %i.ace-icon.fa.fa-refresh
              %span.bigger-110 Reset
            %button.width-65.pull-right.btn.btn-sm.btn-success{:type => "submit"}
              %span.bigger-110 Register
              %i.ace-icon.fa.fa-arrow-right.icon-on-right
    .toolbar.center
      %a.back-to-login-link{"data-target" => "#login-box", :href => "#"}
        %i.ace-icon.fa.fa-arrow-left
        Back to login
