!!! 5
%html(lang="en")
  - if user_signed_in?
    - if controller_name == 'posts' && action_name.in?(%w(edit update))
      = render partial: 'layouts/header_not_signed_in'
      %body.no-skin
        = render partial: 'layouts/navbar'
        = render partial: 'layouts/main_container'
    - else
      = render partial: 'layouts/header_signed_in'
      = render partial: 'layouts/body_signed_in'
  - else
    = render partial: 'layouts/header_not_signed_in'
    = render partial: 'layouts/body_not_signed_in'
