!!! 5
%html(lang="en")
  - if user_signed_in?
    - if controller_name == 'posts' || controller_name == 'contributors'
      = render partial: 'layouts/ace/header'
      = render partial: 'layouts/ace/body'
    - else
      = render partial: 'layouts/normal/header'
      = render partial: 'layouts/normal/body'
  - else
    = render partial: 'layouts/ace/header'
    = render partial: 'layouts/ace/body_login'
